<ul>
  <li>
    Make sure to <%= link_to 'add your state', new_state_path %> if it does not exist.
  </li>
  <li>
    Make sure to <%= link_to 'add your city', new_city_path %> if it does not exist.
  </li>
  <li>
    Sorry, but you have to be born on a Monday (I can't really verify your birthday though... or can I?)
  </li>
  <li>
    I accept birthdays from the future. I have seen Dr. Who and know that time travel is possible, and I do not discriminate...
    You still have to be born on a Monday, time traveller.
  </li>
</ul>